body {background-color: #8FBC8F;
    margin:0;
    padding:0;
    text-align:center;

}

h3
{
    font-family: "Arial";
    color: #E0FFFF;
    text-align: center;
    font-size: 25pt
}
p{
    font-family: "Times New Roman";
    color: #C1CDCD
    text-align: center;
    font-size: 12pt
}

input text {
    float:left;
    margin-top: 10px;
}
h1{
    font-family: "Arial";
    color: #E0FFFF;
    text-align: center;
    font-size: 25pt

}

footer
{position: relative;
    margin-top: 50px;
    height: 150px;
}
